@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800&subset=latin,cyrillic-ext,latin-ext,cyrillic);
html, body {
  font-family: "Open Sans","Arial", Sans-serif; }

.form-signin {
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  padding: 30px;
  position: relative;
  margin-top: 50px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  padding-top: 0px; }
  .form-signin .form-objects {
    position: relative;
    z-index: 2; }
  .form-signin:before, .form-signin::before {
    z-index: 1;
    background-image: url("/images/pictures/loginbg2.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    left: 0px;
    opacity: 0.6; }
  .form-signin .spacing-bottom {
    margin-bottom: 20px; }
  .form-signin h2 {
    color: #4c6173; }
  .form-signin input {
    opacity: 0.7; }
    .form-signin input:focus {
      opacity: 1; }

.no-error {
  display: none; }

.has-error .no-error {
  display: block; }

.lightBoxGallery .thumbnail {
  position: relative;
  display: inline-block;
  text-align: right;
  margin: 3px; }

.lightBoxGallery .thumbnail .title {
  float: left;
  max-width: 100px;
  overflow: hidden;
  text-align: left; }

.lightBoxGallery .thumbnail img {
  max-width: 150px;
  max-height: 150px; }

#preview.large {
  width: 400px;
  height: 200px; }

#preview.small {
  width: 150px;
  height: 200px; }

.ui-sortable-placeholder {
  height: 150px !important; }

.bootstrap-tagsinput {
  width: 100%; }

@media (min-width: 576px) {
  .a-form-label {
    text-align: right;
  }
}

.admin-panel-style {
  margin-top:10px;
}

.ck-editor__editable {
  min-height: 300px;
}

